@model Group

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Update Group</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <!-- Ensure the Edit form posts the id -->
                <input type="hidden" asp-for="GroupId" />
               @*  <div class="mb-3">
                    <label for="Name" class="form-label">GroupId</label>
                    <input class="form-control" placeholder="GroupId" asp-for="GroupId">
                    <span asp-validation-for="GroupId" class="text-danger"></span>
                </div> *@
               
                <div class="mb-3">
                    <label for="Img" class="form-label">Name</label>
                    <input class="form-control" placeholder="Name" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">CourseId</label>
                    <input class="form-control" placeholder="CourseId" asp-for="CourseId">
                    <span asp-validation-for="CourseId" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">TeacherId</label>
                    <input class="form-control" placeholder="TeacherId" asp-for="TeacherId">
                    <span asp-validation-for="TeacherId" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Capacity</label>
                    <input class="form-control" placeholder="Capacity" asp-for="Capacity">
                    <span asp-validation-for="Capacity" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">StartDate</label>
                    <input class="form-control" placeholder="StartDate" asp-for="StartDate">
                    <span asp-validation-for="StartDate" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">EndDate</label>
                    <input class="form-control" placeholder="EndDate" asp-for="EndDate">
                    <span asp-validation-for="EndDate" class="text-danger"></span>

                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@* <script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result; // الصورة الجديدة
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script> *@


