@model SubscriptionPlan
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new SubscriptionPlan</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="Name" class="form-label">SubscriptionPlanId</label>
                    <input class="form-control" placeholder="SubscriptionPlanId" asp-for="SubscriptionPlanId">
                    <span asp-validation-for="SubscriptionPlanId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Name</label>
                    <input class="form-control" placeholder="Name" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Tier</label>
                    <input class="form-control" placeholder="Tier" asp-for="Tier">
                    <span asp-validation-for="Tier" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Price</label>
                    <input class="form-control" placeholder="Price" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">DurationInMonths</label>
                    <input class="form-control" placeholder="DurationInMonths" asp-for="DurationInMonths">
                    <span asp-validation-for="DurationInMonths" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">MaxTeachers</label>
                    <input class="form-control" placeholder="MaxTeachers" asp-for="MaxTeachers">
                    <span asp-validation-for="MaxTeachers" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">MaxStudents</label>
                    <input class="form-control" placeholder="MaxStudents" asp-for="MaxStudents">
                    <span asp-validation-for="MaxStudents" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Features</label>
                    <input class="form-control" placeholder="Features" asp-for="Features">
                    <span asp-validation-for="Features" class="text-danger"></span>

                </div>
               
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>