@model Lecture

<div class="container">
    <div class="row mb-3 align-items-Lecture my-3">
        <div class="col-md-6">
            <h2 class="display-6">Update Lecture</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <!-- Ensure the Edit form posts the id -->
                <input type="hidden" asp-for="LectureId" />
               @*  <div class="mb-3">
                    <label for="Name" class="form-label">LectureId</label>
                    <input class="form-control" placeholder="LectureId" asp-for="LectureId">
                    <span asp-validation-for="LectureId" class="text-danger"></span>
                </div> *@
                <div class="mb-3">
                    <label for="Name" class="form-label">Title</label>
                    <input class="form-control" placeholder="Title" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">CourseId</label>
                    <input class="form-control" placeholder="CourseId" asp-for="CourseId">
                    <span asp-validation-for="CourseId" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">VideoUrl</label>
                    <input class="form-control" placeholder="VideoUrl" asp-for="VideoUrl">
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Description</label>
                    <input class="form-control" placeholder="Description" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">PdfUrl</label>
                    <input class="form-control" placeholder="PdfUrl" asp-for="PdfUrl">
                    <span asp-validation-for="PdfUrl" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Order</label>
                    <input class="form-control" placeholder="Order" asp-for="Order">
                    <span asp-validation-for="Order" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">CreatedAt</label>
                    <input class="form-control" placeholder="CreatedAt" asp-for="CreatedAt">
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>

                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" asp-for="IsPreview" />
                    <label class="form-check-label" asp-for="IsPreview"></label>
                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@* <script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result; // الصورة الجديدة
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script> *@


