@model AttendanceRecord
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new AttendanceRecord</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
               @*  <div class="mb-3">
                    <label for="Name" class="form-label">AttendanceRecordId</label>
                    <input class="form-control" placeholder="AttendanceRecordId" asp-for="AttendanceRecordId">
                    <span asp-validation-for="AttendanceRecordId" class="text-danger"></span>
                </div> *@
                <div class="mb-3">
                    <label for="Img" class="form-label">StudentId</label>
                    <input class="form-control" placeholder="StudentId" asp-for="StudentId">
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">AttendanceSessionId</label>
                    <input class="form-control" placeholder="AttendanceSessionId" asp-for="AttendanceSessionId">
                    <span asp-validation-for="AttendanceSessionId" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Status</label>
                    <input class="form-control" placeholder="Status" asp-for="Status">
                    <span asp-validation-for="Status" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Notes</label>
                    <input class="form-control" placeholder="Notes" asp-for="Notes">
                    <span asp-validation-for="Notes" class="text-danger"></span>
                    
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>