@model Student
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new Student</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input class="form-control" placeholder="Name" asp-for="User.FullName">
                    <span asp-validation-for="User.FullName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Gender</label>
                    <input class="form-control" placeholder="Gender" asp-for="Gender">
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Email</label>
                    <input class="form-control" placeholder="Email" asp-for="User.Email">
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">DateOfBirth</label>
                    <input class="form-control" placeholder="DateOfBirth" asp-for="DateOfBirth">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">AcademicLevel</label>
                    <input class="form-control" placeholder="AcademicLevel" asp-for="AcademicLevel">
                    <span asp-validation-for="AcademicLevel" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">CenterId</label>
                    <input class="form-control" placeholder="CenterId" asp-for="CenterId">
                    <span asp-validation-for="CenterId" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">CreatedAt</label>
                    <input class="form-control" placeholder="CreatedAt" asp-for="CreatedAt">
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                    
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>