@model Exam
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new Exam</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                @* <div class="mb-3">
                    <label for="Name" class="form-label">ExamId</label>
                    <input class="form-control" placeholder="ExamId" asp-for="ExamId">
                    <span asp-validation-for="ExamId" class="text-danger"></span>
                </div> *@
                <div class="mb-3">
                    <label for="Img" class="form-label">CourseId</label>
                    <input class="form-control" placeholder="CourseId" asp-for="CourseId">
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Title</label>
                    <input class="form-control" placeholder="Title" asp-for="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Description</label>
                    <input class="form-control" placeholder="Description" asp-for="Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">TotalMarks</label>
                    <input class="form-control" placeholder="TotalMarks" asp-for="TotalMarks">
                    <span asp-validation-for="TotalMarks" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">DurationMinutes</label>
                    <input class="form-control" placeholder="DurationMinutes" asp-for="DurationMinutes">
                    <span asp-validation-for="DurationMinutes" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">StartDate</label>
                    <input class="form-control" placeholder="StartDate" asp-for="StartDate">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                    
                </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">EndDate</label>
                    <input class="form-control" placeholder="EndDate" asp-for="EndDate">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                    
                </div>
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>